services:
  # 1. BASE DE DATOS TRANSACCIONAL (Java la usa para pagos y usuarios)
  nexusai-db:
    image: postgres:16
    container_name: nexusai-db
    environment:
      POSTGRES_DB: nexusai
      POSTGRES_USER: myuser
      POSTGRES_PASSWORD: mypassword
    ports:
      - "5432:5432"
    networks:
      - nexus-network

  # 2. MENSAJERÍA ASÍNCRONA (Para eventos de pago FinOps)
  kafka:
    image: bitnami/kafka:3.7
    container_name: kafka
    ports:
      - "9092:9092"
    environment:
      - KAFKA_CFG_NODE_ID=1
      - KAFKA_CFG_PROCESS_ROLES=controller,broker
      - KAFKA_CFG_LISTENERS=PLAINTEXT://:9092,CONTROLLER://:9093
      - KAFKA_CFG_LISTENER_SECURITY_PROTOCOL_MAP=CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT
      - KAFKA_CFG_ADVERTISED_LISTENERS=PLAINTEXT://localhost:9092
      - KAFKA_CFG_CONTROLLER_QUORUM_VOTERS=1@localhost:9093
      - KAFKA_CFG_CONTROLLER_LISTENER_NAMES=CONTROLLER
      - ALLOW_PLAINTEXT_LISTENER=yes
    networks:
      - nexus-network

  # 3. BASE DE DATOS VECTORIAL (Python la usa para el RAG / Memoria de la IA)
  chroma-db:
    image: chromadb/chroma:latest
    container_name: chroma-db
    ports:
      - "8001:8000"
    volumes:
      - ./infra/chroma_data:/chroma/chroma
    environment:
      - IS_PERSISTENT=TRUE
      - ANONYMIZED_TELEMETRY=FALSE
    networks:
      - nexus-network

  # 4. MONITOREO (Observabilidad de métricas)
  prometheus:
    image: prom/prometheus
    container_name: prometheus
    volumes:
      - ./infra/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - "9090:9090"
    networks:
      - nexus-network

  # 5. VISUALIZACIÓN (Dashboard de FinOps y salud del sistema)
  grafana:
    image: grafana/grafana
    container_name: grafana
    ports:
      - "3000:3000"
    networks:
      - nexus-network
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=admin

networks:
  nexus-network:
    driver: bridge